/* home-sec */
.home-sec{
    margin-top: 60px;
}
.home-sec .subtitulo-1{
    font-weight: bold;
}
.home-sec .sep{
    background-color: var(--secundary-color)
}

.home-sec .texto-1{
    text-align: center;
}
.home-sec .btn-container{
    margin: 60px auto;
    margin-top: 10px;
    text-align: center;
}

/* produtos sec */
.produtos-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 11px;
    align-items: center;

}
.produto-box{
    margin:30px;
}
.produto-box .header-box{
    background-color: var(--secundary-color);
    width: 370px;
    height: 200px;
}

.produto-box .header-box img{
    margin-left: 70px;
    margin-top: 24px;
}

.produto-box .descricao-box{
    background-color: var(--primary-color);
    width: 370px;
    height: 120px;
}
.produto-box .descricao-box .subtitulo-2{
    padding-top: 10px;
}

.descricao-box .texto-2{
    text-align: center;
}


/* portfolio sec */
.portfolio-home{
    width: 100%;
    background-color: var(--secundary-color);
    height: 1031px;;
}
.portfolio-home .subtitulo-1{
    color:  var(--primary-color);
    padding-top: 60px;
}
.portfolio-home .sep{
    background-color:  var(--primary-color);
}
.fotos-portfolio{
    margin-left: 55px;
}

.fotos-portfolio .foto-esquerda{
    float: left;
    margin: 30px 15px 30px 0px
}
.fotos-portfolio .foto-direita{
    float: left;
    margin: 30px 0px 30px 15px
}
.fotos-portfolio .foto-grande{
    clear: both;
}
.portfolio-home .texto-1{
    margin-top: 30px;
    color: var(--alt-text-color)
}
.portfolio-home .btn-container{
    margin-bottom: 60px;
}

/* qualidade sec */
.qualidade-sec .img-container{
    width: 200px;
    margin: 41px auto;
}
.qualidade-sec .lemas{
    width: 1031px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; /*default*/
    flex-wrap: nowrap; /*default*/
    justify-content: space-between;
    margin-bottom: 60px;

}

.qualidade-sec .lema{
    width: 230px;
    height: 100px;
    text-align: center;
    
}
.qualidade-sec .subtitulo-2{
    color: var(--secundary-color);
}

