.container{
    width: 400px;
    height: 400px;
    background-color: lightgray;
    display: flex;
    margin-bottom: 100px;
}

.container1{
    flex-direction: row
}
.container2{
    flex-direction: row-reverse
}
.container3{
    flex-direction: column
}
.container4{
    flex-direction: column-reverse
}



.item{
    width: 100px;
    height: 100px;
}
.item1{
    background-color: lightgreen;
}
.item2{
    background-color: lightcoral;
}
.item3{
    background-color: lightseagreen;
}