.img1{
    filter: blur(4px)
}
.img2{
    filter: brightness(60%)
}
.img3{
    filter: contrast(60%)
}
.img4{
    filter: grayscale(60%)
}
.img5{
    filter: invert(100%)
}
.img6{
    filter: opacity(20%)
}
.img7{
    filter: sepia(80%)
}
.img8{
    filter: saturate(10%)
}
.img9{
    filter: hue-rotate(40deg)
}
.img10{
    filter: drop-shadow(10px 10px 5px black)
}