/*  Basico */
    #css-separado{
        background-color: green
    }

/* Seletores */
    #seletor-id{
        color: red;
    }
    .seletor-classe{
        color: green;
    }
    input[type = "text"]{
        background-color: blue;
        color: white;
    }
    h2.seletores, h3.seletores{
        color: teal;
    }


/* Propriedades de dimensão */
    .dim1{
        background-color: brown;
        width: 200px;
        height: 100px;
    }
    .dim2{
        min-width: 300px;
        max-width: 1000px;
    }
/* Margin e padding */
    .test-padding{
        background-color: aqua;
        width: 100px;
        height: 100px;
        padding: 10px 5px 5px 0px;
               /*cima dir baixo esq  */
        /* 
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 0px; 
        */
        
    }
    .test-margin{
        background-color: rebeccapurple;
        width: 100px;
        height: 100px;
        margin: 20px 5px 0px 20px
               /*cima dir baixo esq  */
        /* 
        margin-top: 20px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 20px; 
        */
    }

/* Propriedades de texto */
    .textalign-L{
        text-align: left;
        text-decoration: underline;
    }
    .textalign-C{
        text-align: center;
        text-decoration: overline;

    }
    .textalign-R{
        text-align: right;
        text-decoration: line-through;
    }
    .minus{
        text-transform: lowercase;
    }
    .maius{
        text-transform: uppercase;
    }
    .capi{
        text-transform: capitalize;
    }
    .textind-lineheig{
        text-indent: 20px;
        line-height: 30px;
    }
    .rtl{
        direction: rtl;
    }
    .ltr{
        direction: ltr;
    }
    .letterspc{
        letter-spacing: 10px;
    }
    .wordspc{
        word-spacing: 40px;
    }
    .txtshad{
        text-shadow: 1px 1px 1px red
        /* Horizontal vertical blur cor */
    }

/* boxsizing, boxshadow e opacity */
    .sboxsiz{
        background-color: lightgreen;
        width: 500px;
        padding-left: 100px
    }
    .cboxsiz{
        background-color: lightcoral;
        width: 500px;
        padding-left: 100px;
        box-sizing: border-box;
    }
    .boxshadow{
        background-color: lightslategray;
        width: 500px;
        padding-left: 100px;
        box-shadow: 5px 5px 1px black
        /* Horizontal vertical blur cor */
    }
    .opacity{
        background-color: lightblue;
        width: 500px;
        padding-left: 100px;
        opacity: 0.5;
    }
/* overflow */
    .soverflow{
        background-color: lightgreen;
        width: 600px;
        height: 80px ;
    }
    .overflow-hidden{
        margin-top: 50px;
        background-color: lightgreen;
        width: 600px;
        height: 80px;
        overflow: hidden;
    }
    .overflow-auto{
        margin-top: 50px;
        background-color: lightgreen;
        width: 600px;
        height: 80px;
        overflow: auto;
    }