/* overflow */
    .soverflow{
        background-color: lightgreen;
        width: 600px;
        height: 80px ;
    }
    .overflow-hidden{
        margin-top: 50px;
        background-color: lightgreen;
        width: 600px;
        height: 80px;
        overflow: hidden;
    }
    .overflow-auto{
        margin-top: 50px;
        background-color: lightgreen;
        width: 600px;
        height: 80px;
        overflow: auto;
    }